@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 style="margin-top:150px;">Welcome to _Surveys</h1>
<p>Click on "FILL OUT SURVEY" to answer our questions.</p>
<p>Click on "VIEW SURVEY RESULTS" to view the results</p>


